if SYNO_LSP_RTD129X
config RTD129X
	bool "Realtek SoC drivers support"
	depends on ARCH_RTD129X
	default y
	help
	  Realtek RTD1296 SOC drivers support.

	  If unsure, say N.

if RTD129X
source "drivers/soc/realtek/rtd129x/Kconfig"
endif # RTD129X
endif # SYNO_LSP_RTD129X

if SYNO_LSP_RTD1619
config RTD16xx
	bool "Realtek RTD16xx SoC family specific drivers"
	depends on ARCH_RTD16xx
	default y
	help
	  Realtek RTD16xx SoC family specific support.

	  If unsure, say N.

if RTD16xx
source "drivers/soc/realtek/rtd16xx/Kconfig"
endif # RTD16xx

config RTD16xx_FPGA
	bool "Realtek RTD16xx FPGA"
	depends on ARCH_RTD16xx
	select RTK_PLATFORM_FPGA
	default n
	help
	  FPGA without boot code.


config RTK_PLATFORM_FPGA
	def_bool n
endif # SYNO_LSP_RTD1619

if SYNO_LSP_RTD129X || SYNO_LSP_RTD1619
source "drivers/soc/realtek/common/Kconfig"
endif # SYNO_LSP_RTD129X || SYNO_LSP_RTD1619
