menu "MISC Features"

config SYNO_LIMIT_CPU_CORES
	bool "Set the physical and logical cores from 2nd core off"
	default y if SYNO_X64
	depends on SYNO_HW_VERSION

config SYNO_HDDMON
	tristate "Syno HDD monitor"
	depends on SYNO_ATA_PWR_CTRL && SYNO_HDD_HOTPLUG

config SYNO_PLUGIN_INTERFACE
	bool "Synology plugin interface for kernel modules"
	default y

config SYNO_INCREASE_READAHEAD
	bool "Increase default max readahead"
	default y

config SYNO_MAX_READAHEAD_SIZE
	int "Set default max readahead size"
	depends on SYNO_INCREASE_READAHEAD
	default "192" if X86_64
	default "512" if !X86_64

config SYNO_BLOCK_LIMIT_BAD_SECTOR_MSG
	bool "Reduce the rate of bad sector messages"
	default y

config SYNO_IO_ERROR_LIMIT_MSG
	bool "Reduce the rate of IO error print messages"
	default y

config SYNO_IO_ERROR_LIMIT_MSG_SHIFT
	int "Reduce the rate of IO error print messages - for the variable number"
	depends on SYNO_IO_ERROR_LIMIT_MSG
	default "12"

config SYNO_EMULATE_U64_DIVISOR
	bool "Emulate caculating of u64 remainder"
	default y

config SYNO_APPARMOR_PATCH
	bool "Declare APPARMOR usage for userspace"
	default y
	depends on SECURITY_APPARMOR

config SYNO_POWEROFF_INFO_PRINT
	bool "Show pma1 and pma2 in poweroff procedure"
	default n

config SYNO_LOWER_MD_RESYNC_NICE
	bool "Lower nice value to MD resync threads"
	depends on SYNO_ALPINE
	default n

config SYNO_FIX_DM_DISK_ALIGNMENT
	bool "Fix issue of device mapper disk alignment problem"
	default y

config SYNO_DM_TO_SECTOR_FIX
	bool "Fix to_sector can't work with u64 parameter"
	depends on SYNO_ALPINE
	default y

config SYNO_OOM_DUMP_MODULE
	bool "Dump modules and occupied memory sizes while OOM"
	default y

config SYNO_DRM_I915_BACKPORT
	bool "API support for back-ported i915 graphic driver"
	depends on DRM_I915
	default y

config SYNO_ELEVATE_LOG_LEVEL
	bool "Elevate log level of kernel log"
	default y

config SYNO_DEGRADE_LOG_LEVEL
	bool "degrade log level"
	default y

config SYNO_MONACO_SDK_BUILD_FAILED_FIX
	bool "Monaco SDK 3.10.77 build failed fix"
	depends on SYNO_MONACO
	default y

config SYNO_AUTO_INSTALL_ABILITY
	bool "Add the ability to trigger auto install mode"
	default y
	depends on SYNO_HI3536

config SYNO_PSTORE
	bool "Synology enhancement of Pstore mechanism"
	default n
	depends on PSTORE

config SYNO_CRYOTO_PATCH_FOR_LIBKCAPI
	bool "required patch set from cryptodev-2.6 for libkcapi for FIPS 140-2 validation"
	default n
	depends on CRYPTO_USER

config SYNO_FIX_RTC_WAKE_AFTER_POWER_FAILURE
	bool "fix rtc wake after power failure"
	default y
	depends on SYNO_X64

config SYNO_IOSCHED_CFQ_PROMOTE_SYNC_TUNABLE
	bool "add cfs tunable parameter with promote sync"
	default y
	depends on IOSCHED_CFQ

config SYNO_DISABLE_SYSRQ_B_DUMP_STACK
	bool "do NOT dump stack when trigger sysrq b"
	default y

config SYNO_FORCE_CF9_REBOOT
	bool "Support CF9 Force reboot"
	default n
	depends on X86_64

config SYNO_OOM_NOTIFICATION
	bool "Support oom notification"
	default y

config SYNO_ALPINE_DMA_FIX
	bool "Fix alpine DMA engine bugs"
	depends on SYNO_ALPINE
	default y

config SYNO_KERNEL_MODULE_REMOVAL_LOGGING
	bool "add logging about kernel module removal"
	default y

config SYNO_DEV_ALLOC_PAGES
        bool "Enable synology dev alloc pages"
        default y

config SYNO_OUT_OF_RESOURCE_LOG
	bool "log for out of resource event occurrence"
	default y

endmenu #MISC Features

menu "Encryption"

config SYNO_FIX_OCF_CRYPTODEV_RACE
	bool "Fix OCF's race in cryptodev interface"
	depends on OCF_OCF
	default y

config SYNO_FIX_OCF_CRYPTOSOFT_RACE
	bool "Fix OCF's race in cryptosoft interface"
	depends on OCF_CRYPTOSOFT
	default y

config SYNO_FIX_MV_CESA_RACE
	bool "Fix Marvell's crypto driver race"
	depends on MV_CESA
	default y

config SYNO_ALPINE_TUNING_CRYPTO_PERFORMANCE
	bool "Tuning Alpine crypto engine performance"
	default y
	depends on SYNO_ALPINE

config SYNO_BACKPORT_ARM_CRYPTO
	bool "Use ARM related crypto patches packported from upstream kernel 4.7"
	default n

config SYNO_OCF_PERMISSION
	bool "Adjust /dev/crypto permission to 666"
	depends on OCF_CRYPTODEV
	default y

if MODULES

config SYNO_KEY
	bool "use keys supply by our system"
	depends on MODULE_SIG

config SYNO_MODULE_SIG_BLACKLIST
	bool "Provide keyring for untrusted keys"
	depends on MODULE_SIG

endif # MODULES

endmenu #Encryption

menu "Udev"

config SYNO_DEPRECATED_UEVENT_ENV
	bool "Export deprecate uevent environment to userspace"
	default y

endmenu #Udev
