[Unit]
Description=Load Kernel Modules in Kernel Project
DefaultDependencies=no
Requisite=systemd-modules-load.service
After=systemd-modules-load.service
IgnoreOnIsolate=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/syno/lib/systemd/scripts/syno-kernel-modules-load.sh

[X-Synology]
Author=Storage Platform Team
